body {
    background-color: rgb(219, 228, 228);
}

body {
    font-family: 'Times New Roman', Times, serif;
    background: #f5f5f5;
}

.wrapper {
    width: 900px;
    margin: 40px auto;
    background: #fff;
    border: 2px solid#999;
    padding: 20px;
    text-align: center;
}

.images {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}

.text {
    font-size: 14px;
    margin-top: 15px;
    line-height: 1.6;
}

.menu {
    margin-bottom: 20px;
}

hr {
    width: 80%;
    margin: 20px auto;
    border: 1px solid #000;
}

.subtitle {
    font-size: 14px;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

div {
    letter-spacing: 3px;
    margin-bottom: 5px;
}

.menu a {
    text-decoration: none;
    color: #000;
    margin: 0 15px;
    font-size: 14px;
    letter-spacing: 1px;
}